
.Mypost1{
    color: gray;
}

.item{
    padding: 10px;
    color: gold;
}
.img{
    width: 5rem;
    height: 4rem;
    border-radius: 40%;
}


.postsBlock {
   padding: 15px;
 }

.posts{
    margin-top: 15px;
}

