.nav{
    width: 110px;
    grid-area: n;
    background-color:#AF9DFF;
    padding: 20px;
}
.item{
    display: block;
}
.item{
    color: gray;
    text-decoration: none;
}

.active {
    color: blue;
}

.a{
color: blue ;

}



