.app-wrapper {
     margin: 90px ;
    display: grid;
    width: 1400px;
    grid-template-areas:
            "h h" "n c";

    grid-template-rows: 116px 1fr;
    grid-template-columns:3fr 11fr ;
    /*grid-gap: 12px;*/
}

.app-wrapper-content{
 color: black;
  width: 1300px;
  grid-area: c;
  background-color:#8E8BD3;
}

.header img{
    width: 88px;
    background-color:white ;
}


.item img{
    width: 5rem;
    height: 5rem;
    border-radius: 40px;
    display: block;
}

.nav {
    width: 15px;
    grid-area: n;
    background-color: blue;
}

.content{
    width: 1300px;
    grid-area:  c;
    background-color: black ;
}

.posts{
    width: 250px;
    color: blue;
}


.span like {
    width: 15rem;
}




