.dialogsBlock{
    display: flex;
    padding: 0 5px;
    width: 59%;
}

.dialog {
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 15fr;
    color: whitesmoke;
}

.dialogsItems .dialogs {
    color: gold;
    padding: 10px;
}

.messages {
    padding: 10px;
}

.dialogsItems .active{
    color: #364EFF;

}

.messages.message {
}